
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.commandcode/
debug.log
abc.png
.env
/allure-results/
/allure-report/
/user-session.json